{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Методическая работа {% endblock %}
{% block pagename %}Подготовка учебников, учебных пособий и методических указаний, включая электронные издания {% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
        {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if books %}
    <table class="table table-bordered">
        <tr>
            <th>Наименование</th>
            <th>Вид издания</th>
            <th>Объем</th>
            <th>Вид грифа</th>
            <th>Срок сдачи рукописи</th>
            <th>Отметка  о выполнении</th>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.type }}</td>
                <td>{{ book.volume }}</td>
                <td>{{ book.vulture }}</td>
                <td>{{ book.finishDate }}</td>
                <td></td>
            </tr>
        {% endfor %}


    </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}