{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Методическая работа {% endblock %}
{% block pagename %}Постановка и модернизация дисциплин{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>



    {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if disciplines %}
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Наименование дисциплины</th>
            <th>Вид занятий</th>
            <th>Характер изменения</th>
            <th></th>
        </tr>
        <tr>
            {% for discipline in disciplines %}
                <td width="10">
                    <form action="{% url 'disciplineListEdit' planid %}" method="get">
                        <input type="hidden" name="idlink" value="{{  discipline.id }}">
                        <button type="submit" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
                <td>{{  discipline.name }}</td>
                <td>{{  discipline.type }}</td>
                <td>{{  discipline.characterUpdate }}</td>
                <td width="10">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{  discipline.id }}">
                        <input type="hidden" name="delete" value="delete">
                        <button type="submit" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
                </tr>
            {% endfor %}

    </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}