{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Методическая работа {% endblock %}
{% block pagename %}Постановка и модернизация дисциплин{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if disciplines %}
    <table class="table table-bordered">
        <tr>
            <th>Наименование дисциплины</th>
            <th>Вид занятий</th>
            <th>Характер изменения</th>
            <th>Отметка  о выполнении</th>
        </tr>
        <tr>
            {% for discipline in disciplines %}
                <td>{{  discipline.name }}</td>
                <td>{{  discipline.type }}</td>
                <td>{{  discipline.characterUpdate }}</td>
                <td></td>
                </tr>
            {% endfor %}

    </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}