{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Научная работа{% endblock %}
{% block pagename %}Научно-исследовательская  работа в университете и вне университета{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
        {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if nirs %}
            <table class="table table-bordered">
        <tr>
            <th>Наименование работы</th>
            <th>Период</th>
            <th>В качестве кого участвовал</th>
            <th>Организация или предприятие</th>
        </tr>

        {% for nir in nirs %}
            <tr>
                <td>{{ nir.name }}</td>
                <td>{{ nir.period }}</td>
                <td>{{ nir.role }}</td>
                <td>{{ nir.organisation }}</td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}


    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}