{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Участие в конференциях и выставках{% endblock %}
{% block pagename %}Участие в конференциях и выставках{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if participations %}
        <table class="table table-bordered">
        <tr>
            <th>Дата</th>
            <th>Наименование конференции или выставки</th>
            <th>Уровень конференции или выставки</th>
            <th>Наименование доклада или экспоната</th>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.name }}</td>
                <td>{{ participation.level }}</td>
                <td>{{ participation.report }}</td>
                <td>{{ participation.date }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}