{% extends 'pages/../pages/template.html' %}
{% block title %}Участие в конференциях и выставках{% endblock %}
{% block pagename %}Участие в конференциях и выставках{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <tr>
            <th>Дата</th>
            <th>Наименование конференции или выставки</th>
            <th>Уровень конференции или выставки</th>
            <th>Наименование доклада или экспоната</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_participation" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>

{% endblock %}