{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Список публикаций{% endblock %}
{% block pagename %}Список публикаций{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if publications %}
    <table class="table table-bordered">
        <tr>
            <th>Наименование работ</th>
            <th>Вид публикации</th>
            <th>Объем в п.л.</th>
            <th>Наименование издательства, журнала или сборника</th>
        </tr>
        {% for publication in publications %}
            <tr>
                <td>{{  publication.name_work}}</td>
                <td>{{  publication.type}}</td>
                <td>{{  publication.volume}}</td>
                <td>{{  publication.name_publisher}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}