{% extends 'pages/../pages/template.html' %}
{% block title %}Повышение  квалификации{% endblock %}
{% block pagename %}Повышение  квалификации{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <tr>
            <th>Период</th>
            <th>Форма повышения квалификации</th>
            <th>Документ</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_qualification" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>

{% endblock %}