{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Повышение  квалификации{% endblock %}
{% block pagename %}Повышение  квалификации{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if qualifications %}
    <table class="table table-bordered">
        <tr>
            <th>Период</th>
            <th>Форма повышения квалификации</th>
            <th>Документ</th>
        </tr>

        {% for qualification in qualifications %}
            <tr>
                <td>{{ qualification.ql_date }}</td>
                <td>{{ qualification.for_ql }}</td>
                <td>{{ qualification.doc }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}