{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Повышение  квалификации{% endblock %}
{% block pagename %}Повышение  квалификации{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
        {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if qualifications %}
    <table class="table table-bordered">
        <tr>
            <th>Период</th>
            <th>Форма повышения квалификации</th>
            <th>Документ</th>
            <th></th>
        </tr>

        {% for qualification in qualifications %}
            <tr>
                <td>{{ qualification.period }}</td>
                <td>{{ qualification.form_training }}</td>
                <td>{{ qualification.document }}</td>
                <td>
                    <form action="{% url 'qualificationListEdit' planid %}" method="get">
                        <input type="hidden" name="idqual" value="{{  qualification.id }}">
                        <input type="submit" value="Редактировать">
                    </form>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{  qualification.id }}">
                        <input type="hidden" name="type" value="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}