{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Другие виды работ, выполняемых в интересах университета, факультета и кафедры{% endblock %}
{% block pagename %} Другие виды работ, выполняемых в интересах университета, факультета и кафедры{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <tr>
            <th>Период</th>
            <th>Вид работы</th>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_dif_work" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>

{% endblock %}



