{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Другие виды работ, выполняемых в интересах университета, факультета и кафедры{% endblock %}
{% block pagename %} Другие виды работ, выполняемых в интересах университета, факультета и кафедры{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
        {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    {% if anotherworks %}
    <table class="table table-bordered">
        <tr>
            <th>Период</th>
            <th>Вид работы</th>
        </tr>

        {% for anotherwork in anotherworks %}
            <tr>
                <td>{{ anotherwork.work_date }}</td>
                <td>{{ anotherwork.v_work }}</td>
            </tr>
        {% endfor %}


    </table>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'tpplan' planid %}">Назад к плану</a>
{% endblock %}



