{% extends 'pages/mainTemplate.html' %}
{% block title %}Индивидуальный план преподавателя {% endblock %}
{% block pagename %}Индивидуальный план преподавателя {% endblock %}
{% block content %}

    <h1>Добро пожаловать в систему teacherPlan!</h1>

    Требуется разработать компоненты информационной системы кафедры,
    обеспечивающие управление индивидуальными планами преподавателей
    <ul>
        <li>Планирование учебной нагрузки</li>
        <li>Переподготовка и повышение квалификации</li>
        <li>Участие в мероприятиях, конференциях</li>
        <li>Руководство НИР</li>
        <li>Генерация отчетов</li>
    </ul>

    <p><a href="{% url tplogin %}">Для входа перейтите на страницу</a></p>

{% endblock %}