{% extends 'pages/template.html' %}
{% block title %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block pagename %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block content %}
    <h2>Факультет: КТИ</h2>
    <span>Кафедра: МО ЭВМ</span>
    <span>Должность: Доцент</span>
    <span>Фамилия: Иванов</span>
    <span>Имя: Иван</span>
    <span>Отчетство: Иваныц</span>
    <span>Год рождения: 1978 </span>
    <span>Дата текущего избрания или зачисления на преподавательскую должность: </span>
    <span>Ученая степень и год присуждения: кандидат технических наук 2000</span>
    <span>Ученое звание и год присуждения: доцент 2005</span>
    <span>Дата переизбрания(окончание трудового договора) : 2009</span>
    <h3>Пункты плана:</h3>
    <a href="{% url 'studybookList' 1 %}">Подготовка учебников, учебных пособий и методических указаний,
включая электронные издания</a>

    <a href="{% url 'disciplineList' 1 %}">Постановка и модернизация дисциплин</a>

    <a href="{% url 'scWorkList' 1 %}">Научно-исследовательская  работа в университете и вне университета</a>

    <a href="{% url 'participationList' 1 %}">Участие в конференциях и выставках</a>

    <a href="{% url 'publicationList' 1 %}">Список публикаций</a>

    <a href="{% url 'qualificationList' 1 %}">Повышение  квалификации</a>

    <a href="{% url 'difWorkList' 1 %}">Другие виды работ, выполняемых в интересах университета, факультета и кафедры</a>

    <a href="{% url 'remarkList' 1 %}">Замечания по работе преподавателя</a>

    <a href="{% url 'pdf' 1 %}" class="btn btn-info">Загрузить в PDF</a>
{% endblock %}