{% extends 'pages/template.html' %}
{% block title %}Список индивидуальных планов Иванова Ивана Ивановича{% endblock %}
{% block pagename %}Список индивидуальных планов Иванова Ивана Ивановича{% endblock %}
{% block content %}
    <ul>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2011-2012 учебный год.</a></li>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2012-2013 учебный год.</a></li>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2013-2014 учебный год.</a></li>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2014-2015 учебный год.</a></li>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2015-2016 учебный год.</a></li>
        <li><a href="{% url 'tpplan' 1 %}">Учебный план за 2016-2017 учебный год.</a></li>
    </ul>
{% endblock %}