{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Редактирование сведений о научной работе{% endblock %}
{% block pagename %}Редактирование сведений о научной работе{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        <p><label for="id_name">Наименование работы:</label>
            <input id="id_name" maxlength="200" name="name" type="text" value="{{ target.name }}"></p>
        <p><label for="id_period">Период:</label>
            <input id="id_period" maxlength="200" name="period" type="text" value="{{ target.period }}"></p>
        <p><label for="id_role">В качестве кого участвовал:</label>
            <input id="id_role" maxlength="200" name="role" type="text" value="{{ target.role }}"></p>
        <p><label for="id_organisation">Организация или предприятие:</label>
            <input id="id_organisation" maxlength="200" name="organisation" type="text" value="{{ target.organisation }}"></p>
        <input type="hidden" name="idlink" value="{{ idlink }}">
        <input type="submit" value="Изменить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'scWorkList' planid %}">Отмена</a>
{% endblock %}