{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Редактирование сведений о научной работе{% endblock %}
{% block pagename %}Редактирование сведений о научной работе{% endblock %}
{% block content %}
    <a type="button" href="{% url 'tpplan' planid %}">Назад к плану</a>
    {% if form.errors %}
        <p class="bg-danger text-danger">
            Ошибка при заполнении формы.
        </p>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        <p><label for="id_name_work">Наименование работ:</label>
            <input id="id_name_work" maxlength="200" name="name_work" type="text" value="{{ publ.name_work }}"></p>
        <p><label for="id_type">Вид публикации:</label>
            <input id="id_type" maxlength="200" name="type" type="text" value="{{ publ.type }}"></p>
        <p><label for="id_volume">Объем в п.л.</label>
            <input id="id_volume" min="0" name="volume" type="number" value="{{ publ.volume }}"></p>
        <p><label for="id_name_publisher">Наименование издательства:</label>
            <input id="id_name_publisher" maxlength="200" name="name_publisher" type="text"
                   value="{{ publ.name_publisher }}"></p>
        <input type="hidden" name="idlink" value="{{ idlink }}">
        <input type="submit" value="Изменить">
    </form>
    <br>
    <a type="button" class="btn btn-primary" href="{% url 'scWorkList' planid %}">Отмена</a>
{% endblock %}