<!doctype html>
<html lang="ru-ru">
<head>
    {% load staticfiles %}
    {% url 'studentrecords:login' as login_url %}
    {% url 'studentrecords:logout' as logout_url %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Информационная система кафедры МО ЭВМ</title>
    <link href="{% static 'scientificWork/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'teacherPlan/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'scientificWork/css/style.css' %}" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" style="color: gold; font-size: 24px;">МО ЭВМ</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  {% if not user.is_authenticated %}
                    <li><a class="btn" href="{{ login_url }}">Авторизация</a></li>
                  {% else %}
                    <li><a class="btn">Добро пожаловать, {{ user.username }}!</a></li>
                    <li><a class="btn" href="{{ logout_url }}">Выход</a></li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </div>


    <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                    <li>
                        <a href="/teacherPlan">План преподавателя</a>
                    </li>

                    <li {>
                        <a href="/scientificWork">Научная деятельность</a>
                    </li>

                    <li >
                        <a href="/studentrecords">Работа со студентами</a>
                    </li>
              </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1>Кафедра математического обеспечения и применения ЭВМ</h1>

                <p><em>Рождение</em> кафедры МО ЭВМ в ЛЭТИ на факультете Автоматики и вычислительной техники (ФАВТ) – осень 1978 года.</p>
                    <p><em>Первые студенты</em> – две учебные группы специальности 0647 – «Прикладная математика» - приняты на кафедру летом 1979 года.</p>
                    <p><em>Важная веха</em> в учебно-методической работе кафедры -&nbsp; её активное участие в формировании и подготовке открытия в 1988 году новой специальности «Программное обеспечение вычислительной техники и автоматизированных систем», в рамках которой получают подготовку инженеры-программисты. На базе кафедры был создан Российский научно-методический совет по этой специальности.</p>
                    <p>С 1988 года – подготовка специалистов раздельно по двум специальностям – «Прикладная математика» и «Программное обеспечение вычислительной техники и автоматизированных систем» – &nbsp;позволила кафедре четко расставить акценты в подготовке инженеров-математиков и инженеров-программистов, сохранив при этом общую методическую и кадровую базу, единую профессиональную платформу.</p>
                    <p>С 1996 г. – подготовка по уровневой схеме бакалавров и магистров по направлениям «Прикладная математика и информатика» и «Информатика и вычислительная техника».</p>
                    <p>С 2011 года на кафедру осуществляется прием по направлению «Прикладная математика и информатика», а также по направлению&nbsp;«Программная инженерия», новому для российского высшего профессионального образования.</p>
                    <p>Программная инженерия (SE), как научно-техническая деятельность и образовательное направление:</p>
                    <ul>
                    <li>основывается на математике, информатике и информационных технологиях (computing),</li>
                    <li>занимается разработкой систематических моделей и надежных методов производства высококачественного программного обеспечения.</li>
                    </ul>
                    <p>Выпускники кафедры – профессиональные разработчики программного обеспечения, работающие в ведущих ИТ-компаниях, участвующие в разработке сложных программных продуктов на всех этапах их создания, начиная от математического моделирования, проектирования, разработкой уникальных алгоритмов, заканчивая программной реализацией и тестированием.&nbsp;</p>
                    <p><strong style="font-size: 12px; line-height: 1.5;">Заведующий кафедрой:&nbsp;</strong>Кринкин Кирилл Владимирович, к.т.н.</p>
                    <p><strong>Зам. заведующего по учебной работе:&nbsp;</strong>Лисс Анна Александровна, к.т.н., доцент</p>
                    <p><strong>Зам. заведующего по научной работе:&nbsp;</strong>Яновский Владислав Васильевич, к.т.н., доцент</p>
                    <p><strong>Tel:</strong><span data-mce-mark="1">&nbsp;(812) 234-14-27, (812) 234-26-82</span></p>
                    <p><span data-mce-mark="1"><strong>Email:</strong><span data-mce-mark="1">&nbsp;</span><span data-mce-mark="1">inbox@moevm.info</span></span></p>
            </div>


          </div>
        </div>


</body>
<script src="{% static 'teacherPlan/lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'teacherPlan/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'scientificWork/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'scientificWork/js/scripts.js' %}"></script>
</html>