{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block pagename %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block content %}
    <h2>Факультет: КТИ</h2>
    <p>Кафедра: МО ЭВМ</p>
    <p>Должность: Доцент</p>
    <p>Фамилия: Иванов</p>
    <p>Имя: Иван</p>
    <p>Отчетство: Иваныц</p>
    <p>Год рождения: 1978 </p>
    <p>Дата текущего избрания или зачисления на преподавательскую должность: </p>
    <p>Ученая степень и год присуждения: кандидат технических наук 2000</p>
    <p>Ученое звание и год присуждения: доцент 2005</p>
    <p>Дата переизбрания(окончание трудового договора) : 2009</p>
    <h3>Пункты плана:</h3>
    <p><a href="{% url 'studybookList' 1 %}">Подготовка учебников, учебных пособий и методических указаний,
включая электронные издания</a></p>

    <p><a href="{% url 'disciplineList' 1 %}">Постановка и модернизация дисциплин</a></p>

    <p><a href="{% url 'scWorkList' 1 %}">Научно-исследовательская  работа в университете и вне университета</a></p>

    <p><a href="{% url 'participationList' 1 %}">Участие в конференциях и выставках</a></p>

    <p><a href="{% url 'publicationList' 1 %}">Список публикаций</a></p>

    <p><a href="{% url 'qualificationList' 1 %}">Повышение  квалификации</a></p>

    <p><a href="{% url 'difWorkList' 1 %}">Другие виды работ, выполняемых в интересах университета, факультета и кафедры</a></p>

    <p><a href="{% url 'pdf' 1 %}" class="btn btn-info">Загрузить в PDF</a></p>
{% endblock %}