{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Индивидуальный план {{ user_profile.FIO }} за {{  plan.start_year }}
    -{{  plan.start_year|add:"1" }} год.{% endblock %}
{% block pagename %}Индивидуальный план {{ user_profile.FIO }} за {{ plan.start_year }}-
    {{  plan.start_year|add:"1" }} год.{% endblock %}
{% block content %}
    <h2>Факультет: КТИ</h2>
    <p>Кафедра: МО ЭВМ</p>
    {% if not user_profile.position == none %}
        <p>Должность: {{ user_profile.position }}</p>
    {% endif %}
    {% if not user_profile.last_name == none %}
        <p>Фамилия: {{ user_profile.last_name }}</p>
    {% endif %}

    {% if not user_profile.first_name == none %}
        <p>Имя: {{ user_profile.first_name }}</p>
    {% endif %}

    {% if not user_profile.patronymic == none %}
        <p>Отчетство: {{ user_profile.patronymic }}</p>
    {% endif %}

    {% if not user_profile.birth_date == none %}
        <p>Год рождения: {{ user_profile.birth_date }}</p>
    {% endif %}

    {% if not user_profile.election_date == none %}
        <p>Дата текущего избрания или зачисления на преподавательскую должность: {{ user_profile.election_date  }}</p>
    {% endif %}

    {% if not user_profile.academic_degree == none %}
        <p>Ученая степень и год присуждения: {{ user_profile.academic_degree }}
            {{ user_profile.year_of_academic_degree }}</p>
    {% endif %}
    {% if not user_profile.academic_status == none %}
        <p>Ученое звание и год присуждения: {{ user_profile.academic_status }}
            {{ user_profile.year_of_academic_status }}</p>
    {% endif %}

    {% if not user_profile.contract_date == none %}
        <p>Дата переизбрания(окончание трудового договора) : {{ user_profile.contract_date }}</p>
    {% endif %}

    <h3>Пункты плана:</h3>
    <p><a href="{% url 'studybookList' plan.id %}">Подготовка учебников, учебных пособий и методических указаний,
включая электронные издания</a></p>

    <p><a href="{% url 'disciplineList' plan.id %}">Постановка и модернизация дисциплин</a></p>

    <p><a href="{% url 'scWorkList' plan.id %}">Научно-исследовательская  работа в университете и вне университета</a></p>

    <p><a href="{% url 'participationList' plan.id %}">Участие в конференциях и выставках</a></p>

    <p><a href="{% url 'publicationList' plan.id %}">Список публикаций</a></p>

    <p><a href="{% url 'qualificationList' plan.id %}">Повышение  квалификации</a></p>

    <p><a href="{% url 'difWorkList' plan.id %}">Другие виды работ, выполняемых в интересах университета, факультета и кафедры</a></p>

    <p><a href="{% url 'pdf' plan.id %}" class="btn btn-info">Загрузить в PDF</a></p>
{% endblock %}