{% extends 'teacherPlan/pages/template.html' %}
{% block title %}Список индивидуальных планов{% endblock %}
{% block pagename %}Список индивидуальных планов{% endblock %}
{% block content %}
    {% if list  %}
        <ul>
        {% for item in list %}
                    <li><a href="{% url 'tpplan' item.id %}">План на {{  item.start_year }}
                        + {{  item.start_year|add:"1" }} учебный год</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Список пуст</p>
    {% endif %}
{% endblock %}