{% extends 'pages/mainTemplate.html' %}
{% block title %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block pagename %}Индивидуальный план Иванова Ивана Ивановича за 2016 год.{% endblock %}
{% block content %}
<h2>Факультет: КТИ</h2>
<span>Кафедра: МО ЭВМ</span>
<span>Должность: Доцент</span>
<span>Фамилия: </span>
<span>Имя: </span>
<span>Отчетство: </span>
<span>Год рождения: </span>
<span>Дата текущего избрания или зачисления на преподавательскую должность: </span>
<span>Ученая степень и год присуждения</span>
<span>Ученое звание и год присуждения</span>
<span>Дата переизбрания(окончание трудового договора)</span>
<h2>Методологическая работа</h2>
    <h3>Подготовка учебников, учебных пособий и методических указаний,
включая электронные издания</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Вид издания</th>
      <th>Объем</th>
      <th>Вид грифа</th>
      <th>Срок сдачи рукописи</th>
      <th>Отметка  о выполнении</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

  </tbody>
</table>
    <h3>Постановка и модернизация дисциплин</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Наименование дисциплины</th>
              <th>Вид занятий</th>
              <th>Характер изменения</th>
              <th>Отметка  о выполнении</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Научная работа</h2>
    <h3>Научно-исследовательская  работа в университете и вне университета</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Наименование работы</th>
              <th>Период</th>
              <th>В качестве кого участвовал</th>
              <th>Организация или предприятие</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Участие в конференциях и выставках</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Дата</th>
              <th>Наименование конференции или выставки</th>
              <th>Уровень конференции или выставки</th>
              <th>Наименование доклада или экспоната</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Список публикаций</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Наименование работ</th>
              <th>Вид публикации</th>
              <th>Объем в п.л.</th>
              <th>Наименование издательства, журнала или сборника</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Повышение  квалификации</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Период</th>
              <th>Форма повышения квалификации</th>
              <th>Документ</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h2>Другие виды работ, выполняемых в интересах университета, факультета и кафедры</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Период</th>
              <th>Вид работы</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h2>Замечания по работе преподавателя</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Дата</th>
              <th>Характер замечания</th>
              <th>Должность лица, вносящего замечание</th>
              <th>Подпись лица, вносящего замечание</th>
              <th>Подпись преподавателя</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}