{% url 'tpindex' as tpindex %}
{% url 'currentPlan' as currentPlan %}
{% url 'addPlan' as addPlan %}
{% url 'tpplanlist' as plan_list_url %}
{% url 'tpsimpleReport' as simple_report_url %}
{% url 'showAllPlans' as show_all_plans %}

<li {% if request.get_full_path == tpindex %}class="active"{% endif %}>
    <a href="{% url 'tpindex' %}">Главная</a>
</li>

<li {% if request.get_full_path == addPlan %}class="active"{% endif %}>
    <a href="{% url 'addPlan' %}">Создать новый план</a>
</li>

<li {% if request.get_full_path == currentPlan %}class="active"{% endif %}>
    <a href="{% url 'currentPlan' %}">Текущий план</a>
</li>

<li {% if request.get_full_path == plan_list_url %}class="active"{% endif %}>
    <a href="{% url 'tpplanlist' %}">Список планов</a>
</li>

{% if request.user.is_superuser %}
<li {% if request.get_full_path == show_all_plans %}class="active"{% endif %}>
    <a href="{% url 'showAllPlans' %}">Полный список планов</a>
</li>
{% endif %}