{% extends 'pages/template.html' %}
{% block title %}Методическая работа {% endblock %}
{% block pagename %}Постановка и модернизация дисциплин{% endblock %}
{% block content %}

    <table id="table">
        <tr>
            <th>Наименование дисциплины</th>
            <th>Вид занятий</th>
            <th>Характер изменения</th>
            <th>Отметка  о выполнении</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_discipline">

    </form>

{% endblock %}