{% extends 'pages/template.html' %}
{% block title %}Список публикаций{% endblock %}
{% block pagename %}Список публикаций{% endblock %}
{% block content %}

    <table id="table">
        <tr>
            <th>Наименование работ</th>
            <th>Вид публикации</th>
            <th>Объем в п.л.</th>
            <th>Наименование издательства, журнала или сборника</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_publication">

    </form>

{% endblock %}