{% extends 'pages/template.html' %}
{% block title %}Замечания по работе преподавателя{% endblock %}
{% block pagename %}Замечания по работе преподавателя{% endblock %}
{% block content %}

    <table id="table">
        <tr>
            <th>Дата</th>
            <th>Характер замечания</th>
            <th>Должность лица, вносящего замечание</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_dif_work">

    </form>

{% endblock %}



