{% extends 'pages/template.html' %}
{% block title %}Научная работа{% endblock %}
{% block pagename %}Научно-исследовательская  работа в университете и вне университета{% endblock %}
{% block content %}

    <table id="table">
        <tr>
            <th>Наименование работы</th>
            <th>Период</th>
            <th>Объем</th>
            <th>В качестве кого участвовал</th>
            <th>Организация или предприятие</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <form action="/add_sс_work">

    </form>

{% endblock %}