{% extends 'pages/template.html' %}
{% block title %}Методическая работа {% endblock %}
{% block pagename %}Подготовка учебников, учебных пособий и методических указаний, включая электронные издания {% endblock %}
{% block content %}

    <table id="table">
        <tr>
            <th>Наименование</th>
            <th>Вид издания</th>
            <th>Объем</th>
            <th>Вид грифа</th>
            <th>Срок сдачи рукописи</th>
            <th>Отметка  о выполнении</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    AcademicDiscipline

    <form action="/add_studybook">

    </form>

{% endblock %}