{% url 'tpindex' as index_url %}
{% url 'tpnewPlan' as new_plan_url %}
{% url 'tpplanlist' as plan_list_url %}
{% url 'tpsimpleReport' as simple_report_url %}

<li {% if request.get_full_path == index_url %}class="active"{% endif %}>
    <a href="{% url 'tpindex' %}">Главная</a>
</li>

<li {% if request.get_full_path == new_plan_url %}class="active"{% endif %}>
    <a href="{% url 'tpnewPlan' %}">Создать новый план</a>
</li>

<li {% if request.get_full_path == plan_list_url %}class="active"{% endif %}>
    <a href="{% url 'tpplanlist' %}">Список планов</a>
</li>

<li {% if request.get_full_path == simple_report_url %}class="active"{% endif %}>
    <a href="{% url 'tpsimpleReport' %}">Список планов</a>
</li>
